<div class="stamp-coin-div contain-box-div" style="padding:15px;">
  <table class="stamp-coin-table">
    <tr>
      <td>
        <span>일자</span>
      </td>
      <td>
        <span>Stamp 변화</span>
      </td>
      <td>
        <span>Coin 변화</span>
      </td>
      <td>
        <span>사유</span>
      </td>
    </tr>
    <% if (stampcoin != "") { %>
      <% for(var i=0;i<stampcoin.length;i++) {%>
      <tr>
        <td>
          <span><%=stampcoin[i].isCreateDate.split(" ")[0]%></span>
        </td>
        <td>
          <% if (stampcoin[i].stamp_change > 0) { %>
            <span style="color:red;">+<%=stampcoin[i].stamp_change%></span>
          <% } else if (stampcoin[i].stamp_change < 0) { %>
            <span style="color:blue;"><%=stampcoin[i].stamp_change%></span>
          <% } else { %>
            <span><%=stampcoin[i].stamp_change%></span>
          <% } %>
        </td>
        <td>
          <% if (stampcoin[i].coin_change > 0) { %>
            <span style="color:red;">+<%=stampcoin[i].coin_change%></span>
          <% } else if (stampcoin[i].coin_change < 0) { %>
            <span style="color:blue;"><%=stampcoin[i].coin_change%></span>
          <% } else { %>
            <span><%=stampcoin[i].coin_change%></span>
          <% } %>
        </td>
        <td>
          <span><%=stampcoin[i].getExplain%></span>
        </td>
      </tr>
      <% } %>
    <% } %>
  </table>
</div>
