<% if (homeworks == "") { %>
  <div style="text-align: center;">
    등록된 과제가 없습니다.
  </div>
<% } else { %>
  <% for(var i=0;i<homeworks.length;i++) {%>
  <div class="list-note-div contain-box-div homework_box_div"
  <% if(i>2) { %>
  style="display:none;"
  <% } %>
  >

    <div class="user-note-name-box">
      <div class="user-note-name">
        <span><%=homeworks[i].homework_id%></span>
      </div>
      <div class="delete-btn-box">
        <% if(JSON.parse(JSON.stringify(JSON.parse(JSON.stringify(session)).passport)).user == 'admin') { %>
        <input type="button" class="complete-btn upper-btn homework_box_btn"
                data-homeworkid="<%=homeworks[i].homework_id%>"
                data-homeworkdate="<%=homeworks[i].isCreateDate%>"
                data-filename="<%=homeworks[i].content_image%>"
                style="
                <% if(homeworks[i].isChecked) { %>
                opacity:0;
                pointer-events: none;
                <% } %>
                "
                value="완료"/>
        <% } %>
        <input type="button" class="delete-btn upper-btn homework_box_btn"
                data-homeworkid="<%=homeworks[i].homework_id%>"
                data-homeworkdate="<%=homeworks[i].isCreateDate%>"
                data-filename="<%=homeworks[i].content_image%>"
                value="삭제"/>
      </div>
    </div>
    <div class="user-note-date">
      <span><%=homeworks[i].isCreateDate%></span>
    </div>
    <div class="user-note-content">
      <div style="margin-left: 25px;margin-right: 25px;">
        <img src="/img/uploads/<%=homeworks[i].content_image%>" style="width: 100%;"/>
      </div>
    </div>
  </div>
  <% if(i==homeworks.length-1) { %>
  <div class="homework_more_btn" style="text-align: center;margin-top: 15px;font-weight: bold;cursor:pointer;color:#FF5E88;" data-length="<%=homeworks.length%>">
    <span><i class="material-icons" style="vertical-align: middle;">&#xE313;</i>더보기(3/<%=homeworks.length%>)</span>
  </div>
  <% } %>
  <% } %>
<% } %>

<script>

$('.delete-btn.homework_box_btn').click(function(){
  var btn = $(this);
  var homework_id = btn.data("homeworkid");
  var homeworkdate = btn.data("homeworkdate");
  var filename = btn.data("filename");
  var date = new Date();
  var month = date.getMonth()+1;
  if (confirm("정말 삭제하시겠습니까??") == true){    //확인
    $.ajax({
      url: '/delete_homework',
      type: 'POST',
      data: {homework_id:homework_id, homeworkdate:homeworkdate, filename:filename},
      success: function(view) {

        $.ajax({
            url: '/view_homework_box',
            type: 'POST',
            data: {month:month},
            success: function(view) {
                $(".today-mission-box").html(view);
            }
        });
      }
    });
  }else{   //취소
      return;
  }
});


$('.complete-btn.homework_box_btn').click(function(){
  var modal = $("#adminModal");
  var joonewstamp = modal.find('.user-stamp-coin.stamp-point').data('joonewstamp');
  var btn = $(this);
  var homework_id = btn.data("homeworkid");
  var homeworkdate = btn.data("homeworkdate");
  var date = new Date();
  var month = date.getMonth()+1;
  if (confirm("과제 완료?") == true){    //확인
    $.ajax({
      url: '/complete_homework',
      type: 'POST',
      data: {homework_id:homework_id, homeworkdate:homeworkdate, joonewstamp:joonewstamp},
      success: function(view) {
        var user_id = 'admin';
        $.ajax({
            url: '/view_homework',
            type: 'POST',
            data: {user_id:user_id},
            success: function(view) {
                modal.find(".modal-body").html(view);
                $.ajax({
                    url: '/view_homework_box',
                    type: 'POST',
                    data: {month:month},
                    success: function(view) {
                        modal.find(".today-mission-box").html(view);


                    }
                });

            }
        });
      }
    });
  }else{   //취소
      return;
  }
});


$('.homework_more_btn').click(function(){
  var btn = $(this);
  var length = btn.data("length");
  if(btn.hasClass('isOpen')){
    btn.removeClass('isOpen');
    $('.homework_box_div').each(function(index){
      if(index>2){
          $(this).css('display','none');
      }
    });
    btn.find('span').html('<i class="material-icons" style="vertical-align: middle;">&#xE313;</i>더보기(3/'+length+')');
  } else {
    btn.addClass('isOpen');
    $('.homework_box_div').each(function(){
      $(this).css('display','block');
    });
    btn.find('span').html('<i class="material-icons" style="vertical-align: middle;">&#xE316;</i>접기('+length+'/'+length+')');
  }
});


</script>
